.container {
  background-color: black;
  width: 450px;
  height: 300px;
  margin: 20px 2px;
}

.container div {
  color: white;
  background-color: blue;

  font-size: 25px;
  text-align: center;
  height: 20px;
  line-height: 20px;

  margin:10px;
  padding: 20px 30px;
}


/**
CONTAINER C01
**/
.c01 {
  /* Añado la propiedad de display flex  */
  display: flex;
  /* Sitúo el contenido en el centro horizontalmente */
  justify-content: center;
  /* Sitúo el contenido en el centro verticalmente */
  align-items: center;
}
.c01 div {
  background-color: red;
}


/**
CONTAINER C02
**/
.c02 {
  /* Añado la propiedad de display flex  */
  display: flex;
  /* Hago que los items se ordenen en columna */
  flex-direction: column;
  /* Sitúo el contenido en el centro horizontalmente */
  justify-content: center;
  /* Sitúo el contenido en el centro verticalmente */
  align-items: center;
  }
.c02 div {
  background-color: orange;
}


/**
CONTAINER C03
**/
.c03 {
  /* Añado la propiedad de display flex  */
  display: flex;
  /* Hago que los items se ordenen en columna */
  flex-direction: column-reverse;
  /* Sitúo el contenido al final de su contenedor */
  justify-content: flex-start;
  /* Sitúo el contenido en el centro verticalmente */
  align-items: center;
}
.c03 div {
  background-color: green;
}


/**
CONTAINER C04
**/
.c04 {
  /* Añado la propiedad de display flex  */
  display: flex;
  /* Indico que los elementos pueden englobarse en múltiples líneas */
  flex-wrap: wrap;
}
.c04 div {
  background-color: blue;
}
.c04 div:nth-child(1) {
  flex-grow:2;
}
.c04 div:nth-child(9) {
  flex-grow:2;
}


/**
CONTAINER C05
**/
.c05 div {
  background-color: orangered;
  padding: 20px 40px;
  margin:3px;
}
  /********* ADD YOUR CODE  HERE **********/

  /********* END OF YOUR CODE **********/


/**
CONTAINER C06
**/
.c06 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.c06 div {
  padding: 20px 40px;
  margin:5px;
}
  /********* ADD YOUR CODE  HERE **********/

  /********* END OF YOUR CODE **********/
