.cards {
    /* Indico la propiedad para que sea flex */
    display: flex;
    /* Hago que las cartas se muestren en fila y agrupadas */
    flex-flow: row wrap;
    /* Indico el ancho m치ximo de la p치gina para colocar correctamente las cartas */
    width: 82%;
    /* Hago que las cartas separen entre ellas */
    justify-content: space-around;
}

.card {
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    padding:5px;
    /* A침ado anchura a cada uno de los divs */
    width: 279px;
}

.card img {
    /* Hago que el ancho sea heredado del ancho de los div */
    width: inherit;
}

.card .text {
    padding: 0 5px 5px;
    /* Hago que se muestren como flex, en posici칩n de columnas */
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.card .text>button {
    background: #1d486b;
    border: 0;
    color: white;
    /*************  ADD YOUR CODE HERE ************/

    /************** END OF YOUR CODE ***************/
}