html {
    /* Tamaño mínimo y el actual */
    min-width: 1050px;
    width: 1200px;
    /* Añado margen a la izquierda y derecha */
    margin: 0 auto;
    /* Fuente de la letra y el tamaño de la misma */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}