body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
}

header {
    position: relative;
    /* Le asigno una altura al header */
    height: 128px;
    /* Añado el color verde de fondo */
    background-color: #9acd32;
    /* Añado margen encima y abajo para separarlo del div del contenido */
    margin-top: 25px;
    margin-bottom: 70px;
    /* Añado una amplitud mínima para que solo se mueva 'NEWS' al reducir página */
    min-width: 740px;
}

header img {
    position: absolute;
    /* Le añado un padding arriba y a la izquierda al logo */
    padding-top: 28px;
    padding-left: 50px;
}

ul#menu {
    position: absolute;
    /* Elimino las viñetas de los elementos del menú */
    list-style: none;
    /* Añado un margen a la izquierda para centrar el menú horizontalmente */
    margin-left: 350px;
    /* Añado un margen encima para centrar el menú verticalmente */
    margin-top: 40px;
}

ul#menu li {
    background-color: black;
    color: white;
    font-size: 16px;
    /* Le añado un padding para hacer más grandes los elementos */
    padding: 5px;
    /* Hago que los elementos del menú aparezcan uno al lado del otro */
    display: inline;
    /* Le añado un margen a la derecha a cada elemento para que se separen más */
    margin-right: 12px;
}

div {
    position: relative;
    border: 1px solid green;
    /* Le añado una amplitud máxima y mínima para indicar tamaño máximo del div */
    max-width: 950px;
    /* Le añado un margen a la izquierda para alinearlo */
    margin-left: 50px;
    margin-right: 100px;
    /* Añado una amplitud mínima para que no se descoloque el contenido al hacer pequeña la pantalla */
    min-width: 604px;
}

div>h1 {
    position: absolute;
    color: white;
    font-size: 2em;
}